<footer>

    <div class="f-info">
        <div class="f-info-socials"></div>
        <span style="font-size: 1.5rem;"><i class="fa-brands fa-facebook"></i></span>
        <span style="font-size: 1.5rem;"><i class="fa-brands fa-instagram"></i></span>
        <span style="font-size: 1.5rem;"><i class="fa-brands fa-linkedin"></i></span>
        <!-- <span><i class="fa-brands fa-youtube"></i></span> -->
        <div class="f-info-brand" style="width: 100%;">© 2025 WanderLust pvt limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy Policy</a>
            <a href="/terms">Terms of Use</a>
            <!-- <a href="">Contact Us</a> -->
        </div>

    </div>

</footer>